<h1>Memos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.title %></td>
        <td>
          <%= link_to 'Show', memo %>
          <%= link_to 'Edit', edit_memo_path(memo) %>
          <%= link_to 'Destroy', memo, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Memo', new_memo_path %>
